#main {
    height: 100vh;
    width: 100vw;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
}

#value {
    position: absolute;
    top: 45vh;
    left: 47.5vw;
    font-size: 2.5em;
    color: black;
}

.inline-div {
    display: inline-block;
}

.inline-txtarea {
    resize: none;
    border: 2px solid red;
    height: 125px;
}